body{
  background-color: rgb(184, 184, 184);
  text-align: center;
  font-family: courier;
  font-size: large;
}
h1{
  font-family: courier;
}

img{
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

div{
  max-width: 1000px;
  margin: auto;
}

h2{
  font-family: chalkduster;
  color: red;
  font-size: 500%;
}
.bouton{
  display: block;
  background-color: greenyellow;
  max-width: fit-content;
  border: 5px solid green;
  padding: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}