body{
  background-color: rgb(184, 184, 184);
  text-align: center;
}

div{
  color: rgb(0, 0, 0);
  font-family: apple chancery;
  
}

.bouton{
  display: block;
  background-color: greenyellow;
  max-width: fit-content;
  border: 5px solid green;
  padding: 10px;
  margin: auto;
}

img{
  display: block;
  max-width: 500px;
  height: auto;
  margin: auto;
  border: 15px solid rgb(101, 52, 17)
}